.cr-icon {
  .css-i4bv87-MuiSvgIcon-root {
    width: unset !important;
    height: unset !important;
  }
  display: flex;
  align-items: center;
  svg {
    fill: currentColor !important;
  }
  &-clickable {
    cursor: pointer;
  }
}
