.cr-sayembara-layout {
  height: 100%;
  width: 100%;
  &-banner {
    height: 25%;
    width: 100%;
    background-color: $color-base-light;
  }
  &-container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-card {
    width: 90%;
    transform: translateY(-3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-bottom: 1px solid rgba($black, 0.1);
      padding: $padding-border / 2 0;
      &--container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
      &--title {
        font-weight: $font-weight-bold;
        font-size: large;
        text-transform: capitalize;
        text-align: left;
      }
      &--detail {
        color: $color-base;
      }
    }
    &-body {
      &--container {
        height: 80%;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
      display: flex;
      flex-direction: column;
      & > * {
        border-bottom: 1px solid rgba($black, 0.1);
        padding: $padding-border / 2 0;
      }
      & > *:nth-last-child(1) {
        border-bottom: none;
      }
    }
    &-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        background-color: $base-color-dark;
        font-weight: $font-weight-bold;
      }
    }
    &-item {
      &--title {
        font-weight: $font-weight-bold;
        text-transform: capitalize;
        text-align: left;
      }
    }
  }
}
