.cr-sayembara-card {
  // display: flex;
  // flex-direction: row;
  // margin-left: auto;
  // margin-right: auto;

  // height: 6.5rem;
  // width: 90%;

  &-container {
    background-color: $color-base-light;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    // border-radius: $border-corner;
    // overflow: hidden;
    // padding: $padding-border;
  }

  &--thumbnail {
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: $border-corner;
  }
  &--title {
    text-align: left;
    font-size: large;
    font-weight: $font-weight-bold;
    color: $black;
  }

  &-header {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-body {
    height: 100%;
    width: 50%;
  }
  &-footer {
    height: 100%;
    width: 25%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &--chip {
      color: white !important;
      border-color: currentColor !important;
    }
  }
}
