@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

@import "./variables.scss";
body {
  font-family: "Inter", sans-serif;
  color: $black;
}
a {
  &,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
@import "./cr-icon.scss";
@import "./cr-splash-screen.scss";
@import "./cr-loading.scss";
@import "./cr-default-layout.scss";
@import "./cr-login.scss";
@import "./cr-text.scss";
@import "./cr-button.scss";
@import "./cr-layout.scss";
@import "./cr-bottom-navigation.scss";
@import "./cr-home.scss";
@import "./cr-sayembara-card.scss";
@import "./cr-search-bar.scss";
@import "./cr-sayembara-header.scss";
@import "./cr-sayembara.scss";
@import "./cr-sayembara-detail.scss";
@import "./cr-sayembara-chips.scss";
