$border-corner: 1rem;
$border-corner-input: 0.5rem;

$font-weight-bold: 700;
$font-size-md: 1.5rem;

// color
$base-color: #a2d2ff;
$base-color-dark: #1197eb;
$black: rgba(0, 0, 0, 0.7);
$secondary: #dadada;
$peach: #ff865e;

$form-gap: 1rem;

$padding-border: 1rem;

$header-heigt: 5rem;
