$border-corner: 1rem;
$border-corner-input: 0.5rem;

$font-weight-bold: 700;
$font-size-md: 1.5rem;

// color
$color-base: #1197eb;
$color-base-light: #a2d2ff;
$color-base-transparent: rgba(17, 151, 235, 0.04);
$color-success: #2a9d8f;
$color-gray: #979797;

$base-color: #a2d2ff;
$base-color-dark: #1197eb;
$black: rgba(0, 0, 0, 0.7);
$secondary: #dadada;
$peach: #ff865e;
$success: #2a9d8f;

$form-gap: 1rem;

$padding-border: 1rem;

$header-heigt: 5rem;
